---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Latest 3 Posts</h1>

{% set postslist = collections.posts | head(-5) %}
{% include "postslist.njk" %}

<p>上記5件以外の<a href="{{ '/posts/' | url }}">アーカイブ</a>.</p>
